.csc-textpic-text {
	p:first-child {
		margin-top: 0;
	}
}

.csc-textpic-caption {
	margin: 5px 0 0 0;
	font-size: 90%;
}

.csc-textpic {
	img {
		width: auto !important;
		height: auto !important;
	}
}

.csc-header-n1 {
	h1, .h1 {
		margin-top: 0;
	}
}