{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Content"/>

<f:section name="Configuration">
	<flux:form id="fce-qxgo-card" label="Card">
		<flux:field.select name="cssClass" label="Optional Well Style Class" items="small, normal, large" default="normal" />
		<flux:field.select name="type" label="Type" items="{0: 'single', 1: 'multiple'}" default="0" requestUpdate="true" />

		<flux:field.multiRelation name="page" label="Page" table="pages" displayCond="FIELD:type:=:0" />
		<flux:field.multiRelation name="pages" label="Pages" table="pages" multiple="true" size="5" maxItems="3" displayCond="FIELD:type:=:1" />

	</flux:form>
</f:section>

<f:section name="Preview">
	{cssClass}
</f:section>

<f:section name="Main">
	{cssClass}

	<f:debug>{type}</f:debug>

	<f:if condition="{pages}">
		<v:iterator.explode content="{pages}" glue="," as="x">
			<f:debug>{x}</f:debug>
		</v:iterator.explode>
	</f:if>
</f:section>