{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Content"/>

<f:section name="Configuration">
	<flux:form id="fce-qxplay-card" label="LLL:EXT:qxplay/Resources/Private/Language/locallang_db.xlf:tx_qxplay_fce.page.title"
						 description="LLL:EXT:qxplay/Resources/Private/Language/locallang_db.xlf:tx_qxplay_fce.page.description"
						 options="{icon: '{f:uri.resource(path: \'Icons/Content/Page.svg\')}'}">
		<flux:field.select name="type" label="Type" items="{0: 'single', 1: 'multiple'}" default="0" requestUpdate="true" />

		<flux:field.multiRelation name="page" label="Page" table="pages" displayCond="FIELD:type:=:0" />
		<flux:field.multiRelation name="pages" label="Pages" table="pages" multiple="true" size="5" maxItems="3" displayCond="FIELD:type:=:1" />

	</flux:form>
</f:section>

<f:section name="Preview">
	{cssClass}
</f:section>

<f:section name="Main">
	<f:if condition="{type} == 0">
		<f:render section="Single" arguments="{page: page}" />
	</f:if>
</f:section>

<f:section name="Single">
	<f:debug>{page}</f:debug>
</f:section>